<section class="banner">

    @defer (on viewport) {
    <div class="text-container">
        <h2>Hello, It's Me <br>Satendra Rajput <br>And I'm an experienced </h2>
        <h2 class="typing-text">Angular + Java & Nodejs Stack Developer</h2>
        <p>I am an experienced Angular developer with 3.1 years of expertise in building dynamic and responsive web
            applications. Over the past year....
        </p>

        <br>
        <div class="banner-tut">
            <div class="banner-tut-icons">
                <a href="https://youtube.com/@satendracoder" target="_blank" title="Youtube"><img
                        src="assets/icons/youtube.svg" alt="Youtube"></a>

                <a href="https://www.linkedin.com/in/satendracoder/" target="_blank" title="Linkedin"><img
                        src="assets/icons/linkedin.svg" alt="Linkedin"></a>
                <a href="https://github.com/satendracoder" target="_blank" title="Github"><img
                        src="assets/icons/github.svg" alt="Github"></a>
                <a href="https://www.instagram.com/satendracoder/" target="_blank"><img src="assets/icons/instagram.svg"
                        alt="instagram" /></a>
                <a href="https://twitter.com/satendracoder" target="_blank" title="Twitter"><img
                        src="assets/icons/twitter.svg" alt="Twitter"></a>

                <a href="https://www.facebook.com/satendracoder" target="_blank"><img src="assets/icons/facebook.svg"
                        alt="Facebook" /></a>

            </div>
        </div><br>
        <a href="/about_page/" target="_blank">
            <button class="btn">More About Me</button>
        </a>
    </div>
    } @placeholder {
    <div>Loading...</div>
    }

    @defer (on viewport) {
    <div class="image-container">
        <img src="/assets/images/satendra_1.jpeg" alt="SR">
    </div>
    }@placeholder {
    <div>Loading...</div>
    }
</section>



<div class="scroll-content">
    <marquee behavior="alternate" width="100%" margin="auto">
        <div class="scroll-content">
            <div class="classyoutube"><img src="/assets/icons/html5.svg" alt="HTML">
                <p>HTML</p>
            </div>
            <div class="classdigital"><img src="/assets/icons/css.svg" alt="CSS">
                <p>CSS</p>
            </div>
            <div class="classspeaker"><img src="/assets/icons/js.svg" alt="JavaScript">
                <p>JavaScript</p>
            </div>
            <div class="classfront"><img src="/assets/icons/typescript.svg" alt="TypeScript">
                <p>TypeScript</p>
            </div>
            <div class="classyoutube"><img src="/assets/icons/angular.svg" alt="YouTube">
                <p>Angular</p>
            </div>

            <div class="classspeaker"><img src="/assets/icons/java.svg" alt="java">
                <p>Java</p>
            </div>

            <div class="classdigital"><img src="/assets/icons/spring-boot.svg" alt="spring-boot">
                <p>Spring Boot</p>
            </div>
            
            <div class="classspeaker"><img src="/assets/icons/mysql.svg" alt="MySQL">
                <p>MySQL</p>
            </div>

            <div class="classdigital"><img src="/assets/icons/node-js.svg" alt="Node-js">
                <p>Node-js</p>
            </div>
            <div class="classspeaker"><img src="/assets/icons/expressjs.svg" alt="Express js">
                <p>Express js</p>
            </div>
            

            <div class="classdigital"><img src="/assets/icons/mongodb.svg" alt="MongoDB">
                <p>MongoDB</p>
            </div>
        </div>
    </marquee>
</div>