<section class="support-container">
    <div class="support-row">
        @defer (on viewport) {
        <div class="support-card">
            <h2>Code_Lekhak (E-Learning)</h2>
            <p>
                Learn to code for free and transform your career with Code_Lekhak. Access video tutorials, comprehensive
                documents,
                PDFs, and detailed notes—all in Hindi. Join live classes and take your coding skills to the next level.
                Start your
                journey today with Code_Lekhak!
            </p>
            <div><button class="button"><a href="https://www.codelekhak.com/" style="color: #fff;"> Join
                        Code_Lekhak</a></button></div>
        </div>

        <div class="support-card">
            <img src="/assets/images/codelekhak.png" alt="">
        </div>
        } @placeholder {
        <div>Loading..</div>
        }
    </div>
</section>