
.blog-container {
    display : flex;
    flex-direction: column;
    align-items : center;
    justify-content : center;  
    background-color: var(--primary-bg);
    padding: 30px 0px;
  }

  .heading {
    width: 85%;
    margin:10px auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #747780;
    color: var(--primary-color);
}

  
.blog-section {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
  
    .section-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--primary-color);
      margin-bottom: 10px;
    }
  
    .blog-grid {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      color: var(--primary-color);

      @media screen and (max-width:768px) {
        grid-template-columns: repeat(2, 1fr) !important;
      }
  
      @media screen and (max-width:480px) {
        grid-template-columns: repeat(1, 1fr) !important; 
      }
  
      .blog-card {
        background-color: var(--project-bg);
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 2px 2px var(--primary-color);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        //color: var(--primary-color);
  
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 12px 6px var(--primary-color);
        }
  
        .blog-image {
          height: 180px;
          overflow: hidden;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
  
            &:hover {
              transform: scale(1.05);
            }
          }
        }
  
        .blog-content {
          padding: 10px;
  
          h3 {
            font-size: 1.5rem;
            color: var(--primary-color);
          }
  
          p {
            font-size: 1rem;
            color:var(--primary-color);
            margin-bottom: 10px;
            line-height: 1.5;
          }
  
          .btn {
            display: inline-block;
            padding: 10px 15px;
            font-size: 0.9rem;
            font-weight: bold;
            text-decoration: none;
            border-radius: 5px;
            background-color: #008cba;
            color: white;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #007bb5;
            }
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .section-title {
        font-size: 2rem;
      }
      
  
      .blog-card {
        .blog-image {
          height: 160px;
        }
      }
    }
  
    @media (max-width: 480px) {
      .section-title {
        font-size: 1.5rem;
      }
  
      .blog-card {
        .blog-content {
          padding: 15px;
  
          h3 {
            font-size: 1.3rem;
          }
  
          p {
            font-size: 0.9rem;
          }
  
          .btn {
            font-size: 0.8rem;
            padding: 8px 12px;
          }
        }
      }
    }
  }
  