<app-menu-card></app-menu-card>
<section class="blog-container" >
    <div class="heading">
      <h2>All Blogs</h2>
    </div>
  
    <div class="blog-section">
      <!-- <h2 class="section-title">Latest Blogs</h2> -->
      <div class="blog-grid">
        <div class="blog-card" *ngFor="let blog of Blog_data">
          <div class="blog-image">
            <img [src]="blog.blog_image" [alt]="blog.blog_title" />
          </div>
          <div class="blog-content">
            <h3>{{ blog.blog_title }}</h3>
            <p>{{ blog.blog_description }}</p>
            <a [href]="blog.blog_url" target="_blank" class="btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>