<div class="skills-container">
  <div class="skills-row">
    <div class="skills">
      <div class="skills-heading">
        <h1>Professional Skills </h1>
        <p>Skilled in HTML, CSS, JavaScript, and TypeScript, with expertise in Angular for building dynamic front-end
          applications. Proficient in Java, Spring Boot, Node.js, and Express for backend development, with experience in MongoDB
          and MySQL for database management. Passionate about creating efficient, scalable, and user-friendly web
          applications..</p>
      </div>
      <div class="skills-image">
        <div class="iconsImage" title="HTML"><img src="/assets/images/Html-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/css-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/js-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/ts-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/Angular-modified.png" alt="HTML"></div>
      </div>

      <div class="skills-image">
        <div class="iconsImage"><img src="/assets/images/Nodejs-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/express-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/mongodb-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/nestjs-modified.png" alt="HTML"></div>
        <div class="iconsImage"><img src="/assets/images/mysql-modified.png" alt="HTML"></div>
      </div>

    </div>
    <div class="skills"></div>
  </div>
</div>