// Buttons
.btn {
    //display: inline-block;
    padding: 5px 14px !important;
    font-size: $font-size-base;
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  
    &:hover {
    color: #fff !important;
    background-color: #010107 !important;
    box-shadow: 0px 0px 10px #26A69A;
    border-radius: 5px !important;
    transform: scale(1.1);
    }
  
    &--secondary {
      background-color: $secondary-color;
  
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
  
  // Form elements
  .input {
    width: 100%;
    padding: $spacing-unit;
    font-size: $font-size-base;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }