<div id="testimonials" class="wrapping-what-container" style="z-index: 99;background-color:var(--project-bg);">
  <div class="wrapping-what-row">
    <div class="testimonial-heading">
      <h1>WHAT OUR CLIENTS & FRIENDS SAY</h1>
    </div>
    <div class="testimonial-container">
      <div class="image-container">
        <img [src]="currentTestimonial.image" alt="Car Image">
      </div>
      <div class="text-container">
        <div class="star-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span><span style="color:var(--primary-color); font-size: 25px;"> 5.0</span>
        </div>
        <p class="testimonial-text" [innerHTML]="currentTestimonial.text" style="color: var(--primary-color);"></p>
        <span class="client-details" [innerHTML]="currentTestimonial.client" style="color: var(--primary-color);"></span>
        <p><a [href]="currentTestimonial.webitelink" target="_blank" style="z-index: 999;  color:var(--primary-btn-bg); font-weight: bold;">Website</a>
        </p>
      </div>
      <div class="navigation-buttons">
        <button class="nav-button" id="prev-button" (click)="onPrevButtonClick()">
          <img src="/assets/images/leftarrow.png" alt="">
        </button>
        <button class="nav-button" id="next-button" (click)="onNextButtonClick()">
          <img src="/assets/images/right.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>