<section class="banner" id="about_page">

    @defer (on viewport) {
    <div class="text-container">
        <h2 style="font-family: 'ethnocentric'">Satendra Rajput</h2>

        <p>Hi, my name is Satendra Rajput from Noida. I completed my BCA in Computer Science from Avviare Education Hub,
            Noida, in 2021. I have 3.1 years of professional experience, with a strong focus on Angular development.
            While my primary role has involved Angular, I have also gained 6 months of experience working with the Java Full
            stack, which has provided me with valuable backend development exposure. I am eager to leverage my skills
            and experience to contribute effectively to your team and take on new challenges in the field of web
            development.
        </p>

        <a href="/assets/resume/Satendra_1 Rajput.pdf" target="_blank">
            <button class="button">CV Download</button>
        </a>
    </div>
    } @placeholder {
    <div>Loading...</div>
    }

    @defer (on viewport) {
    <div class="image-container">
        <img src="assets/images/satendra.png" alt="SR">
    </div>
    }@placeholder {
    <div>Loading...</div>
    }
</section>